body {
  font-weight: 100;
}

.brand-alternate {
  color: $brand-alternate;
}
.brand-primary {
  color: $brand-primary;
}
#wrapper-footer-full, #wrapper-static-hero{
  background-color: $gray;
}

.navbar-dark .navbar-nav .nav-link {
  color: $brand-primary;
  text-transform: uppercase;
}

.hero-wrapper {
  height: 450px;
  position: relative;

}

.hero-image {
  height: 450px;
  background-image: linear-gradient(270deg,#00A1B7,#0ADDFB,#00A1B7);
  position: relative;
  background-size: 400% 400%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}


@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.hero-image-bg {
  position: relative;
  height: 450px;
}

.hero-foreground {
  height: 450px;
  position: absolute;
  top: 0;
  left: -500px;
  right: 0;
  bottom: 0;
}

.hero-foreground-specials {
  height: 450px;
  position: absolute;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
}

.hero-foreground-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.hero-foreground-text{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.hero-foreground-bg {
  animation: pulse 6s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

.hero-wrapper h1 {
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 1px 0px 5px #212121;
  color: #FFF;
  font-size: 32px;
}

.hero-wrapper h2 {
  color: $gray-dark;
  font-weight: bold;
  font-size: 25px;
  text-shadow: 0px 0px 3px #FFF;
  text-transform: uppercase;
}

.hero-wrapper h3 {
  color: #ffc74f;
  font-size: 23px;
  margin-bottom: 30px;
  text-shadow: 0px 1px 3px #000;
  font-weight: bold;
}

.hero-container {
  padding: 43px 0;
}

header  {
  padding: 15px 0;
}
section {
    padding: 45px 0;
}

.section-title {
  margin-bottom: 25px;
}

.hero-bullet {
  color: #FFF;
  text-shadow: 0px 1px 6px #000;
  line-height: 30px;
}

.hero-bullet i {
  color: $brand-success;
}

.dropdown-menu a {
  white-space: nowrap !important;
}

.hero-sub-text {
  padding: 15px 0 0 41px;
}

.satisfaction-badge {
  height: 90px;
  width: 90px;
  float: left;
  background-size: 90px;
  background-repeat: no-repeat;
  margin-right: 15px;
}

.hero-subtext-bullets {

}

.procedures-container {
  text-transform: uppercase;
}

.procedures-container h1 {
  font-weight: 900;
}

.procedures-container h3 {
  font-weight: 300;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.header-call-to-action {
  text-transform: uppercase;
  line-height: 83px;
  font-weight: bold;
  font-size: 18px;
}

.interior-hero {
  max-height: 100px;
  overflow: hidden;
}

.interior-hero .hero-foreground-text {
  padding: 26px 0;
}

.interior-hero .entry-title {
  line-height:51px;
  margin-bottom: 0px;
}

.header-call-to-action a {
  color: $brand-alternate;
  text-decoration: underline;
}

.hero-cta-button {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  background: #FF9839;
  background-image: -webkit-linear-gradient(top, #FF9839, #FF7A00);
  background-image: -moz-linear-gradient(top, #FF9839, #FF7A00);
  background-image: -ms-linear-gradient(top, #FF9839, #FF7A00);
  background-image: -o-linear-gradient(top, #FF9839, #FF7A00);
  background-image: linear-gradient(to bottom, #FF9839, #FF7A00);
  text-shadow: 0px 1px 2px #000000;
  -webkit-box-shadow: 0 1px 2px #343434;
  -moz-box-shadow: 0 1px 2px #343434;
  box-shadow: 0 1px 2px #343434;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #333 1px;
  text-decoration: none;
}

.hero-cta-button:hover {
  background: #05FD30;
  background-image: -webkit-linear-gradient(top, #05FD30, #008a17);
  background-image: -moz-linear-gradient(top, #05FD30, #008a17);
  background-image: -ms-linear-gradient(top, #05FD30, #008a17);
  background-image: -o-linear-gradient(top, #05FD30, #008a17);
  background-image: linear-gradient(to bottom, #05FD30, #008a17);
  text-decoration: none;
  border: solid #333 1px;
}

.featured_procedures .rounded-circle {
  border: 1px solid #bbb;
  padding: 4px;
  box-shadow: 0 1px 3px #ccc;
}

.featured_procedures h3 {
  font-weight: bold;
  text-transform: capitalize;
}

.featured-procedure {

}

.featured-procedure-image {
  position: relative;
  height:160px;
  width: 160px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.featured-procedure-overlay.rounded-circle {
  height:160px;
  width: 160px;
}

.featured-procedure:hover {
  text-decoration: none;
}

.featured-procedure h3 {
  font-weight: bold;
}

.featured-procedure-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #FFF;
  line-height: 152px;
  font-size: 14px;
  background:rgba(0,0,0,.75);
  text-align:center;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  z-index: 3;
}

.featured-procedure:hover .featured-procedure-overlay {
  opacity:1;
  cursor: pointer;
}

.about-us-container h1 {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
}

.about-us-container p {
  margin-bottom: 0;
  font-size: 18px;
  text-align: justify;
}

.fagsfacf-slider-wrap {
  border: 1px solid #bbb;
  padding: 4px;
  box-shadow: 0 1px 3px #ccc;
}

.fagsfacf-gallery-slider button.slick-next, .fagsfacf-gallery-slider button.slick-next:hover, .fagsfacf-gallery-slider button.slick-next:focus, .fagsfacf-gallery-carousel button.slick-next, .fagsfacf-gallery-carousel button.slick-next:hover, .fagsfacf-gallery-carousel button.slick-next:focus {
  background-color: $brand-primary;
}

.about-us-container .fagsfacf-slider-wrap {
  max-height: 314px;
}

.additional-info-container h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.additional-info-container i {
  color: $brand-alternate;
}

.additional-info-container ul {
  padding: 0;
}

.additional-info-container li {
  list-style: none;
}

.featured-video {
  border: 1px solid #bbb;
  padding: 4px;
  box-shadow: 0 1px 3px #ccc;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.secondary-cta-container {
  background-color: $brand-primary;
}

.secondary-cta-container h1 {
  font-size: 24px;
  text-transform: uppercase;
  color: #FFF;
  line-height: 55px;
  margin: 0;
}

.secondary-cta-container strong {
  color: #222021;
}

.testimonials-container {
  padding-bottom: 0;
}
.certifications-container h1 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.testimonials-container h1 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.testimonials-container .pt-cv-content-item {
  margin-bottom: 20px;
}

.testimonials-container .pt-cv-ifield {
  border: 1px solid #bbb;
  padding: 10px 19px;
  box-shadow: 0 1px 3px #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #666;
}

#wrapper-footer {
  background-color: #222021;
}

.social-nav {
  margin-bottom: 0;
}

.social-nav li {
  float: left;
  list-style: none;
}

.remove-bottom {
  margin-bottom: 0;
}

.sidebar-cta-form {
  margin-top: -90px;
  background: #ffae00;
  -webkit-box-shadow: 0 1px 2px #343434;
  -moz-box-shadow: 0 1px 2px #343434;
  box-shadow: 0 1px 2px #343434;
}
.sidebar-cta-form h3 {
text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}

.sidebar-cta-form h6 {
  font-size: 15px;
  color: #000;
  margin-bottom: 0;
}

.sidebar-cta-form span {
  font-size: 15px;
  color: #000;
  margin-bottom: 0;
}

.help-block {
  display: block;
  text-align: center;
}

.sidebar-cta-form .card-footer {
  text-align: center;
}

.pt-cv-colsys {
  margin: 0;
}

.hero-thumbnail img {
  height: 70px;
  width: 70px;
  margin-top: -11px;
  margin-right: 15px;
  border: 1px solid #666;
  padding: 4px;
  box-shadow: 0 1px 3px #333;
  background: #FFF;
}

.pt-cv-thumbnail.img-circle {
  border: 1px solid #bbb;
  padding: 4px;
  box-shadow: 0 1px 3px #ccc;
}

.pt-cv-thumbnail.img-circle {
  border: 1px solid #bbb;
  padding: 4px;
  box-shadow: 0 1px 3px #ccc;
}

.single-professional-wrapper {

}

.single-professional-wrapper img {
  border: 1px solid #bbb;
  padding: 4px;
  box-shadow: 0 1px 3px #ccc;
  margin-bottom: 30px;
  margin-top: -100px;
  background: #FFF;
}

.single-professional-wrapper .section-title {
  font-weight: bold;
  text-transform: uppercase;
}


.single-professional-wrapper .list-group-item {
  font-size: 13px;
}

.gallery-preview {
  border: 1px solid #bbb;
  padding: 4px;
  box-shadow: 0 1px 3px #ccc;
  margin-bottom: 30px;
}

.post-29 img.pt-cv-thumbnail {
  border: 1px solid #bbb;
  padding: 4px;
  box-shadow: 0 1px 3px #ccc;
}

.desktop {

}

@include media-breakpoint-down(sm) {

  .ribbon h1 {
    font-size: 13px;
  }

  .ribbon h2 {
    font-size: 14px;

    line-height: 14px;
  }

  .mobile .navbar-brand {
    display: block;
  }

  header {
    text-align: center;
  }

  header.mobile img {
    min-width: 96%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .mobile .header-call-to-action h1 {
    font-size: 21px;
    text-align: center;
  }

  .mobile .header-call-to-action h3 {
    font-size: 12px;
    text-align: center;
  }

  .hero-wrapper .row {
    margin: 0;
  }

  .hero-wrapper h1 {
    font-size: 20px;
  }

  .hero-wrapper h2 {
    font-size: 13px;
    text-shadow: none;

  }

  .hero-wrapper h3 {
    font-size: 13px;
  }

  .hero-sub-text {
    padding: 0;
  }

  .hero-cta-button {
    font-size: 17px;
  }

  .satisfaction-badge {
    display: none;
  }

  .hero-sub-text {
    text-align: left;
  }

  .hero-bullet {
    font-size: 13px;
  }

  .hero-container {
    padding: 35px 0;
  }

  .navbar-header {
    text-align: center;
  }

  .navbar-toggler {
    margin: 0 auto;
  }

  .menu-alt-nav-container .menu-item,
  .menu-main-nav-container .menu-item {
    text-align: center;
  }

  .procedures-container h1 {
    font-size: 25px;
  }

  .procedures-container h3 {
    font-size: 25px;
  }

  .about-us-container, .additional-info-container{
    padding-top: 0;
  }

  .about-us-container h1 {
    font-size: 20px;
    text-align: center;
  }

  .fagsfacf-slider-wrap {
    margin-bottom: 45px;
  }

  .fa-check {
    float: left;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 7px;
  }

  .additional-info-container h1 {
    font-size: 17px;
  }

  .additional-info-bullets {
    margin-bottom: 5px;

  }

  .secondary-cta-container h1 {
    line-height: 34px;
    margin-bottom: 10px;
  }

  .testimonials-container h1 {
    font-size: 25px;
    text-align: center;
  }

  .interior-hero .hero-foreground-text {
    padding: 0;

  }

  .single-professional-wrapper img {
    margin-top: 0;
    min-width: 100%;
  }

  .sidebar-cta-form {
    margin-top: 0;

  }

  .interior-hero .hero-foreground-text {
    padding: 0;
  }

}

.travel-info-wrapper p.lead {
  text-align: justify;
}

.travel-info-wrapper h1 {
  color: $brand-primary;
}

.travel-info-wrapper {

}

/*
@include media-breakpoint-up(sm) {  }
@include media-breakpoint-up(md) {  }
@include media-breakpoint-up(lg) {  }
@include media-breakpoint-up(xl) {  }
*/

.desktop .container {
  position: relative;
}

.desktop .language-container {
  float: right;
  position: absolute;
  right: 0;
}

.envira-gallery-wrap .caption {
  display: none !important;
}

.envirabox-title-float-main {
  display: none !important;
}



.envira-gallery-item .envira-gallery-item-inner {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
}

/* Rotate all even images 2 degrees */
.envira-gallery-6-columns .envira-gallery-item:nth-child(even) .envira-gallery-item-inner {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}

/* Don't rotate every third image, but offset its position */
.envira-gallery-6-columns .envira-gallery-item:nth-child(3n) .envira-gallery-item-inner {
  -webkit-transform: none;
  -moz-transform: none;
  position: relative;
  top: -5px;
}

/* Rotate every fifth image by 5 degrees and offset it */
.envira-gallery-6-columns .envira-gallery-item:nth-child(5n) .envira-gallery-item-inner {
  -webkit-transform: none;
  -moz-transform: none;
  position: relative;
  top: -5px;
}

/* Keep default rotate for every eighth, but offset it */
.envira-gallery-6-columns .envira-gallery-item:nth-child(8n) .envira-gallery-item-inner {
  position: relative;
  top: 8px;
  right: 5px;
}

/* Keep default rotate for every eleventh, but offset it */
.envira-gallery-6-columns .envira-gallery-item:nth-child(11n) .envira-gallery-item-inner {
  position: relative;
  top: 3px;
  left: -5px;
}

.envira-gallery-item-inner:hover {
  -webkit-transform: scale(1.25) !important;
  -moz-transform: scale(1.25) !important;
  position: relative !important;
  z-index: 5 !important;
}

.envira-gallery-item-inner {
  -webkit-transition: -webkit-transform .5s linear !important;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.10) !important;
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.10) !important;
}

.envira-gallery-item-inner {
  border: 1px solid #BBB !important;
  margin: 15px !important;
  padding: 10px 10px 32px !important
}

.envira-gallery-item-inner img {
  border: 1px solid #444;
}

.banner-wrapper {
  padding-top: 15px;
  margin-bottom: 20px;
}

.ribbon-wrapper {
  position: relative;
  height: 60px;
}

.ribbon {
  width: 100%;
  height: 60px;
  position: absolute;
  text-align: center;
  font-size: 20px!important;
  background: #FF9634;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF9634), to(#FF7C03));
  background: -webkit-linear-gradient(top, #FF9634, #FF7C03);
  background: -moz-linear-gradient(top, #FF9634, #FF7C03);
  background: -ms-linear-gradient(top, #FF9634, #FF7C03);
  background: -o-linear-gradient(top, #FF9634, #FF7C03);
  background-image: -ms-linear-gradient(top, #FF9634 0%, #FF7C03 100%);
  -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
  -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
  box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
}

.ribbon h1 {
  font-size: 16px;
  color: #DD6E07;
  text-shadow: #FF9634 0 1px 0;
  margin:0px;
  padding: 0px;
  line-height: 30px;
  z-index: 5;
  margin-top: 2px;
}

.ribbon h2 {
  font-size: 22px;
  color: #FFF;
  text-shadow: #FAA75A 0 1px 0;
  margin:0px;
  padding: 0px;
  line-height: 30px;
  z-index: 5;
  margin-top: -7px;
}

.ribbon:before, .ribbon:after {
  content: '';
  position: absolute;
  display: block;
  bottom: -10px;
  border: 1.5em solid #FF7B03;
  z-index: -1;
}
.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
  -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 0px;
  -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 0px;
  box-shadow: rgba(000,000,000,0.4) 1px 1px 0px;
}
.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
  -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 0px;
  -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 0px;
  box-shadow: rgba(000,000,000,0.4) -1px 1px 0px;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  border-color: #212121 transparent transparent transparent;
  position: absolute;
  display: block;
  border-style: solid;
  bottom: -10px;
  content: '';
}

.ribbon .ribbon-content:before {
  left: 0;
  border-width: 10px 0 0 20px;
}
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 10px 20px 0 0;
}
.ribbon-stitches-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top:2px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}
.ribbon-stitches-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom:2px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}
.ribbon-left {
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  height: 60px;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: left;
}
.ribbon-right {
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  height: 60px;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: right;
}

@include media-breakpoint-down(sm) {

  .ribbon h1 {
    font-size: 13px;
  }

  .ribbon h2 {
    font-size: 14px;

    line-height: 14px;
  }

}