$font-family-sans-serif: 'Poppins';


$gray-dark:                 #222021 !default;
$gray:                      #363435 !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #7A7F82 !default;
$gray-lightest:             #7A7F82 !default;

$brand-primary:             #00ABBF !default;
$brand-alternate:           #FFAE00 !default;
$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;
$brand-inverse:             $gray-dark !default;


// Basics of a navbar
$navbar-height:                    60px;
$navbar-margin-bottom:             0px;
$navbar-border-radius:             0px;

